body,
#app,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
/* 左侧图标设置右外边距 */
i.iconfont {
  margin-right: 10px;
}
/* 左侧文字大小设置 */
.el-submenu__title,
.el-menu-item {
  font-size: 14px;
}
/* 卡片样式 */
.box-card {
  margin-top: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  z-index: 99;
}
/* 数据列表样式 */
.el-table {
  margin-top: 15px;
  font-size: 12px;
}
/* 分页列表样式 */
/* 分页组件样式 */
.el-pagination {
  margin-top: 20px;
  font-size: 12px;
}
/* 给添加商品的步骤条设置文字大小 */
.el-steps {
  font-size: 12px;
}
/* 给富文本编辑器设置编辑区域 */
.ql-editor {
  height: 200px;
}